#paragraph-body #text-view{
    display: flex;
    justify-content: flex-start;
    align-items: stretch

}
#paragraph-body #text-input{
    flex: 4;
    width: 34em;
    height: 70%;;
    margin:1%;
    border-radius: 2px;
    background-color: #eee;
    padding: 1%;
    line-height: 1.6em;
    font-size: 1rem
}
#middle-view{
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}
#middle-view>div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center
}
.fa-arrows-h{
    color: gray;
    display: inline;
    margin: 2%
}
.fa-arrows-h:hover{
    color:black
}
#translate-output{
    flex:4;
    margin:1%;
    padding: 1%;
    border:solid 2px #bbb;
    border-radius: 2px;
    width: 43em;
    height: 30.9em;
    overflow: scroll;
}
#trans-btn{
    background-color:   rgb(36,36,36);
    color:white;
    border-radius: 5px;
    width:50%;
    align-self: center;
    padding:2%;
}
#trans-btn:hover{
    background-color: rgb(77, 75, 75);
}
#clear-btn{
    border:solid 1.3px #444;
    width:50%;
    margin-top:5%;
    border-radius: 3px;
    color:rgb(78, 6, 14);
    align-self: center;
}
#clear-btn:hover{
    color:rgb(170, 18, 36);
}
#paragraph-trans-history{
    padding:0%;
    height: 30%;
    border-top:solid 1px #bbb;
    
}
#paragraph-trans-history>div:nth-of-type(2){
    height: 15em;
    overflow: scroll;
}
#paragraph-trans-history #title{
    margin:0;
    border:solid 1.2px #aaa
}
.trans-item{
    border-bottom: solid 1px #999;
    padding:1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.trans-direction{
    align-self: flex-start;
    flex:1;
    color: rgba(251,167,0);
    font-size: 0.7em
}
.trans-content{
    flex:6;
    text-overflow: ellipsis;
    word-wrap: none;
    overflow:hidden; 
    padding: 1% 3%
}
.showTo-btn{
    flex:1;
    padding: 0;
    color:black;
    font-size: initial;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
}
.showTo-btn>div:nth-of-type(1){
    box-sizing: border-box;
    border:solid 1.5px rgb(51,202,98);
    border-radius: 20px;
    width:40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.showTo-btn>div:nth-of-type(1)>div{
    box-sizing: border-box;
    margin: 0;
    width:20px;
    height: 20px;
    border-radius:20px;
    text-align: center;
}
.showTo-btn>div:nth-of-type(1)>div.selected{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(51,202,98);
    width:20px;
    height: 20px;
    border-radius:20px
}
.fa-long-arrow-right{
    color:rgb(12, 123, 108)
}
.show-to-pannel{
    background-color: aquamarine;
    color:black;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    margin-left: 2%
}
.show-to-pannel:hover{
    background-color: rgb(30, 190, 137);
}
#clear-history-btn{
    margin-left: 5%
}
#clear-history-btn:hover{
    color:red

}
#clear-history-btn #clear-description{
    display: none
}
#clear-history-btn:hover #clear-description{
    display: inline-block;
}
